<!DOCTYPE configuration>

<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <charset>utf8</charset>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <contextName>dev</contextName>

  <jmxConfigurator/>

  <logger level="DEBUG" name="gg.bayes"/>

  <logger level="ERROR" name="org.hibernate.SQL"/>
  <logger level="ERROR" name="org.hibernate.type.descriptor.sql.BasicBinder"/>
  <logger level="ERROR"
    name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener"/>
  <property name="CONSOLE_LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15.15t] %-40.40logger{39} : %m%n"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>